@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<h2>Instructions</h2>

<p>Type the URL to download a Report.<br>
Localhost:60100/Reports/CampaignReport<br>
Localhost:60100/Reports/NetsuiteReport<br>
</p>


